<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample Page</title>
    <link rel="stylesheet" href="../../style.css">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="#" @click="changePage('home')">HOME</a></li>
          <li><a href="#" @click="changePage('business')">事業紹介</a></li>
          <li><a href="#" @click="changePage('company')">会社概要</a></li>
          <li><a href="#" @click="changePage('location')">所在地</a></li>
          <li><a href="#" @click="changePage('recruit')">リクルート</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <!-- 別のHTMLファイルに移動したコンテンツ -->
      <div v-if="currentPage === 'home'">
        <object data="../bodys/home.html"></object>
      </div>
      <div v-if="currentPage === 'business'">
        <object data="../bodys/business.html"></object>
      </div>
      <div v-if="currentPage === 'company'">
        <object data="../bodys/company.html"></object>
      </div>
      <div v-if="currentPage === 'location'">
        <object data="../bodys/location.html"></object>
      </div>
      <div v-if="currentPage === 'recruit'">
        <object data="../bodys/recruit.html"></object>
      </div>
    </main>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="../../app.js"></script>
  </body>
</html>
